.form_password_request {
  display: flex;
  flex-direction: column;
  gap: var(--space_4);
}

.form_password_request__field--email {
  grid-column: 1/12;
  grid-row: 1/2;
}

.form_password_request__button {
  width: 100%;
  justify-content: center;
}
