.form_password_change {
  display: flex;
  flex-direction: column;
  gap: var(--space_4);
}

.form_password_change__field--password {
  grid-column: 1/12;
  grid-row: 1/2;
}

.form_password_change__field--password-confirmation {
  grid-column: 1/12;
  grid-row: 2/3;
}

.form_password_change__button {
  width: 100%;
  justify-content: center;
}
