.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__nav {
  display: none;
}

.header__nav__list__item--header-profile {
  display: none;
}

@media screen and (min-width: 678px) {
  .header__menu_mobile {
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header__nav__list {
    display: flex;
    flex-direction: row;
    gap: var(--space_1);
    list-style: none;
    padding: 0;
  }

  .header__nav__list__item--header-profile {
    display: flex;
  }
}
