.user_avatar {
  width: max-content;
  height: max-content;
  line-height: 0;
}

.user_avatar__picture {
  border: 1px solid var(--gray_light);
  border-radius: 50%;
}

.avatar--medium {
  width: 3.6rem;
  height: 3.6rem;
}

.avatar--x-large {
  width: 10.5rem;
  height: 10.5rem;
}
