{% extends "base.html.twig" %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
	{% embed "components/organisms/card_auth/card_auth.html.twig" with { title: "Inscription" } %}
		{% block body %}
        	{% include "components/forms/form_register/form_register.html.twig" %}
		{% endblock %}
		{% block links %}
			<a href={{ path("auth_login") }}>Connectez-vous</a>
			<a href={{ path("auth_password_reset") }}>Mot de passe oublié ?</a>
		{% endblock %}
	{% endembed %}
{% endblock %}
