{% embed "components/layouts/card/card.html.twig" with {
    card_id: "stream_card_admin_shop_wave_read-wave_" ~ wave.ulid,
    card_stream: true,
    data_topic: "wave-" ~ wave.ulid,
    card_title: "Créneau du " ~ wave.start|date("d/m/Y - H:i"),
} %}
    {% block subtitle %}
        {% include "components/atoms/tag/tag.html.twig" with {
            text: wave.status.title 
        } %}
    {% endblock %}
    {% block toolbar %}
        {# TODO: condition button with wave status #}
        {% if is_granted('ROLE_OWNER') %}
            {% include "components/atoms/button_link/button_link.html.twig" with {
                href: path("admin_shop_wave_edit", { shop_slug: wave.shop.slug, wave_ulid: wave.ulid }),
                text: "Éditer"
            } %}
        {% endif %}
    {% endblock %}
    {% block body %}
        <div class="admin_shop_wave_read__body">
            <h4>Commande(s) enregistrée(s)</h4>
            {% include "components/molecules/table_order/table_order.html.twig" %}
        </div>
    {% endblock %}
{% endembed %}