.filter_products_form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--space_3);
}

.filter_products_form__field__label {
  display: none;
}
