.form_user {
  display: flex;
  flex-direction: column;
  gap: var(--space_4);
}

.form_user__start {
  text-align: center;
}

.form_user__error > ul > li {
  text-align: center;
}

.form_user__field--lastname {
  grid-column: 1/12;
  grid-row: 1/2;
}

.form_user__field--firstname {
  grid-column: 1/12;
  grid-row: 2/3;
}

.form_user__button {
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 678px) {
  .form_user__field--lastname {
    grid-column: 1/6;
  }

  .form_user__field--firstname {
    grid-column: 6/12;
    grid-row: 1/2;
  }

  .form_user__button {
    width: max-content;
    justify-content: unset;
  }
}

@media screen and (min-width: 992px) {
  .form_user__field--lastname {
    grid-column: 1/4;
  }

  .form_user__field--firstname {
    grid-column: 4/8;
  }
}
